

<form role="form" class="login" action="/auth/local" method="post">
      <% if (errors) {%>
    <div class="status warn">
        <% errors.forEach(function (error) { %>
          <%= __(error) %>
        <% }) %>
        
    </div>
      <% } %>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="identifier" placeholder="Username or Email" value="">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">submit</button>
  </form>

<% if (providers) {%>
  <h4>You can also use one of these...</h4>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>
