<h1>404 Page not found</h1>
<p>
  <% if (typeof error!== 'undefined') { %>
  <%= error %>
  <% } else { %>
  The page you were trying to reach doesn't exist.
  <% } %>
</p>
<p class="help">
  <a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?
</p>