<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Timelyn.io API</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//timelyn.io/css/style.css">
<!--link rel="stylesheet/less" href="css/style.less">
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.2/less.min.js"></script-->
<script src="//use.typekit.net/vix4xtn.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="tk-minion-pro">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
      <a class="navbar-brand" href="/">app.timelyn.io</a>
      <p class="author"><a href="https://studiole.uk">by StudioLE</a></p>
    </div>
  </div>
</nav>

<div class="container">
  <%- body %>
  <p>You seem to have found yourself at the timelyn.io API, you were probably looking for the main website, why don't you return to the <a href="https://timelyn.io">home page</a>.</p>
</div>

</body>
</html>